<nav class="navbar navbar-dark" style="background-color: #004777;">
    <a class="navbar-brand" href="/">Wild series</a>
    <div class="navbar-nav dropdown">
        <a class="nav-item dropdown-toggle" href="#">Catégories</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">First catégorie</a>
        </div>
    </div>
    <div class="navbar-nav dropdown">
        <a class="nav-item dropdown-toggle" href="#">Acteurs</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">First actor</a>
        </div>
    </div>
    <div class="navbar-nav dropdown">
        <a class="nav-item dropdown-toggle" href="#">Mes favoris</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">First favori</a>
        </div>
    </div>
    {% if app.user %}
        {{ app.user.email }}
        <a href="{{ path('app_logout') }}"> Se déconnecter</a>
    {% else %}
        <a href="{{ path('login') }}"> Se connecter</a>
    {% endif %}
</nav>